header{
    background-color: gray;
    height: 80px;
    border: 3px solid;
}
body>div{
    background-color: gray;
    height: 1000px;
    margin: 40px 20px 40px 20px;
    padding: 0px 20px 0px 20px;
    overflow: hidden;
}
nav{
    float: right;
}
#div1{
    
}
#logo{
    float: left;
}
#collapsable-nav{
    visibility: hidden;
    position: absolute;
    margin: 0;
    width: 100%;
    height: auto;
    text-align: center;
    background-color: transparent;

}
#collapsable-nav a{
    border-bottom: 3px solid black;
    color: black;
    font-weight: bold;
}
.navbar{
    margin-top: 10px;
}
.navbar-toggle{
    margin: 8px;
}

@media screen and (max-width: 767.98px) {
    #collapsable-nav{
        position: static;
        visibility: visible;
    }
  }